*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

/* GENERALI */
.text-align-r{
  text-align: right;
}
.text-align-c{
  text-align: center;
}
.text-align-l{
  text-align: left;
}
.mr-20{
  margin-right: 20px;
}
.pr-1{
  padding-right: 1rem;
}
.pl-1{
  padding-left: 1rem;
}
.helbiz-svg{
  width: 12rem;
}
.pt-pb{
  padding-top: 20px;
  padding-bottom: 20px;
}
/* /GENERALI/ */


/* HEADER */
header{
  background-image: url('../img/helbiz.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  color: white;
  position: relative;
}
header a{
  color: white;
}

nav{
  height: 80px;
  line-height: 80px;
}
nav a{
  padding: 0 10px;
}

a{
  text-decoration: none;
}

.header-menu{
  text-align: right;
}

.header-menu, .header-langs{
  font-size: 0.55rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header-langs li:not(:last-child) a{
  border-right: 1px solid white;
}

.list-inline li{
  list-style: none;
  display: inline-block;
}

.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-text h1{
  font-size: 2.5em;
}
.hero-text p{
  margin: 20px 0 30px 0;
}
.hero-text img{
  width: 150px;
}
/* /HEADER/ */


/* MAIN */
/* top */
#models{
  padding: 2em;
}
#models .card{
  text-align: center;
  background-color: #fafafa;
}
#models .card h2{
  padding-top: 80px;
}
#models .card img{
  max-width: 100%;
}
/* /top/ */

/* mid */
#work{
  background-image: url('../img/banner-helbiz.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-bottom: 500px;
}
#work div{
  transform: translateY(60%);
}

#mid-img{
  height: 500px;
  transform: translateY(-140%);
}
/* /mid/ */

/* lower */
#choose-us{
  color: white;
}
.smart-mob{
  background-image: url('../img/scooter-green.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-bottom: 20px;
}
.smart-mob div{
  margin-top: 10%;
}
.smart-mob h2{
  font-size: 2rem;
  line-height: 1.5em;
}
.smart-mob a{
  color: white;
}

.container-utility{
  margin-bottom: 20px;
}
.container-utility a{
  color: white;
}
.get-app{
  background-color: #575757;
  height: 400px;
}
.get-app img{
  margin-top: 10px;
  height: 285px;
}

.find-us{
  width: 90%;
  background-image: url('../img/firenze.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
/* /lower/ */
/* /MAIN/ */

/* FOOTER */
footer{
  background-color: black;
}
.footer-top{
  height: 500px;
  position: relative;
}

.footer-top{
  background-image: url('../img/banner-helbiz.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.family{
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.family h2{
  padding: 50px;
  top: 100px;
  text-align: center;
}

.footer-download img{
  width: 150px;
}
/* /FOOTER/ */
